.sn-controls {
	position: relative;
	z-index: 2;
	order: 3;
	flex-shrink: 0;
}

.sn-controls__items {
	/* position: absolute;
	left: 0;
	top: 0; */
	transition: all 0.3s ease;
	max-height: 0;
	overflow: hidden;
	width: 100%;
	padding-left: var(--size-2);
	padding-right: var(--size-2);
	background-color: var(--color--background);
}

/* @media screen and (min-height: ) */

#is-showing-controls:checked ~ * .sn-controls__items {
	max-height: calc(var(--size-1) * 30);
	padding-top: var(--size-2);
	padding-bottom: var(--size-2);
}

.sn-controls__item + .sn-controls__item {
	margin-top: var(--size-2);
}

@media screen and (min-width: 860px) {
	.sn-controls {

	}
	.sn-controls__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: var(--size-4);
		grid-row-gap: var(--size-2);
	}
	
	.sn-controls__item + .sn-controls__item {
		margin-top: 0;
	}
}

@media screen and (min-width: 1600px) {
	.sn-controls__items {
		grid-template-columns: repeat(5, 1fr);
	}
}