.sn-workspace {
	width: 100%;
	height: 100%;
	background-color: var(--color--background--active);
	padding: var(--size-2);
	position: relative;
}

.sn-workspace__canvas-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.sn-workspace__canvas {
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}